
p,body,h1{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }h1{font-size: 25px;margin:0;}
body {margin:0;}
.div1{padding: 10px; width: auto;margin-top: auto ;margin-bottom: auto;margin-left: auto;margin-right: auto; background-color: rgb(66, 73, 138);color: cornsilk;}
.div2{padding: 10px;width:max-content;margin-top: auto;margin-bottom: auto;margin-left: auto;margin-right: auto;font-size: 25px;justify-content: right;}
.div3{width: auto;margin-top: auto;margin-bottom: auto;margin-left: auto;margin-right: auto;font-size: 25px;justify-content: }
.div4{padding: 50px; width: auto;margin-top: auto ;margin-bottom: auto;margin-left: auto;margin-right: auto; background-color: rgb(66, 73, 138)}
.bigdiv{display: flex;}

.menu{list-style-type: none;display: flex; align-items: baseline;justify-content: flex-end;}
.menu li{padding: 10px;}
.menu a{color:cornsilk;text-decoration:none}

.li1{flex:1;}

.logo{line-height: 50px;}
.logo-image{vertical-align: middle;}